@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

* {
  scroll-behavior: smooth;
}
.swiper-button-prev,
.swiper-button-next {
  position: absolute;
  bottom: 0 !important;
}
.service-section:hover.service-section > img {
  display: block;
  margin-top: 5%;
}

.founder-pic {
  /* -webkit-filter: drop-shadow(5px 5px 5px #222); */
  filter: drop-shadow(5px -2px 10px #2c2c2c7c);
}

